header{
  border-bottom: 1px solid lightgray;
  align-items: center;
  font-size: 2vh;
  display: flex;
  height: 6vh;
  min-height: 50px;
}

body{
  overflow:hidden;
}

menu{
  height: 100%;
  width:10px;
}

.divLeft{
  text-align: left;
  align-items: center;
  height: 100%;
}

.divRight{
  text-align: right;
  align-items: center;
  height: 100%;
}

header button{
  background-color: transparent;
  border: none;
  font-size: x-large;
}

header div{
  flex:1;
  text-align: center;
}

header h1{
  font-size:25px;
  margin: 0;
  padding:0;
}

header h3{
  font-size:10px;
  margin: 0;
  padding:0;
}

#NotesElements{
  display: flex;
  flex-direction: column;
  width:100%;
}

#NotesElements div{
  width:100%;
}

.rowFlex{
  display: flex;
  flex-direction: row;
  align-items: top;
  height:92vh;
}

#flexChange{
  flex:0.3;
  max-width: 15%;
  border-right: 1px solid lightgray;
}

#typeIn{
  flex:1;
  width: 100%;
  height:100%;
  display:flex;
}

.quill {
  display: flex;
  flex-direction: column;
  border: 0px !important;
}
.rowFlex div button{
  background-color: transparent;
  border: none;
  font-size: x-large;
}

#Typetext{
  height: 100vh;
  width: 100%;
  max-width: 80vw;
  display:flex;
  align-items:stretch;
  flex-direction: column;
  overflow-wrap: normal;
}

#notes{
  max-height: 10vh;
  width:100%;
  display: flex;
  flex-direction: row;
  align-items:center;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

#subject{
  flex:0.05;
  min-height: 50px;
  display:flex;
  width: 100%;
  flex-direction: row;
}

#subject div{
  height:100%;
  align-items:center;
}

#subjecthead{
  padding: 10px;
  padding-top: 4px;
  flex:2;
  display: flex;
  flex-direction: column;
}

#subjecthead input{
  width:100%;
  border:0px
}

.subjectButton{
  width: 100%;
  flex:0.1;

}

#subject div button{
  background-color: transparent;
  font-size: small;
  height:100%;
}

#dateTime{
  width: fit-content !important;
}

#userInputSubject{
  width: 100%;
  font-size: 1.45rem;
  color: #323C4D !important;
  font-weight: 600;
  cursor: text;
  border: 0px solid;
  font-family: Arial, Helvetica, sans-serif;
}

button{
  height: 100%;
}

.saveDelete{
  width: 100%; 
}

.subjectButton:hover{
  background-color: black;
  color: white;
}

.hoverChange:hover{
  background-color: black;
  color: white;
}

.quill{
  width:100%;
  height:100%;
  border:2px lightgray solid;
}

#noNote{
  flex:1;
  width:500px;
  height:100%;
  text-align: center;
}

#noNote p{
  width:100%;
  height:100%;
}

#memos{
  width: 100%;
  display:flex;
  flex-direction: column;
  overflow:scroll;
  height:80vh;
}

.singleNote:hover{
  background-color: aquamarine;
}

.singleNote{
  min-height: 55px;
  max-height: 55px;
  width: 100%;
  display:flex;
  flex-direction:column;
  border-bottom: 1px solid lightgray;
}

.colouredMemo {
  background-color: blueviolet;
  min-height: 60px;
  max-height: 60px;
  width: 100%;
  display:flex;
  flex-direction:column;
}

.bodyShort{
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.centerIt{
  width: 100%;
  text-align: center;
}

#viewBox{
  padding-left:15px;
  height: 100vh;
  width: 100%;
  max-width: 80vw;
  display:flex;
  align-items:stretch;
  flex-direction: column;
  overflow-wrap: normal;
}